/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUpHeader li a {
    background: url('../images/fa-icons.png') no-repeat;
}
    .markItUp .markItUpButton1 a {
        background-position: -20px -607px;
    }
    .markItUp .markItUpButton2 a {
        background-position: -20px -629px;
    }
    .markItUp .markItUpButton3 a {
        background-position: -20px -651px;
    }
    .markItUp .markItUpButton4 a {
        background-position: -20px -673px;
    }
    .markItUp .markItUpButton5 a {
        background-position: -20px -695px;
    }
    .markItUp .markItUpButton6 a {
        background-position: -20px -717px;
    }

    .markItUp .markItUpButton7 a {
        background-position: -20px -227px;
    }
    .markItUp .markItUpButton8 a {
        background-position: -20px -798px;
    }
    .markItUp .markItUpButton9 a {
        background-position: -20px -1407px;
    }
    .markItUp .markItUpButton10 a {
        background-position: -20px -1180px;
    }
    .markItUp .markItUpButton11 a {
        background-position: -20px -911px;
    }
    .markItUp .markItUpButton12 a {
        background-position: -20px -873px;
    }
    .markItUp .markItUpButton13 a {
        background-position: -20px -1025px;
    }
    .markItUp .markItUpButton14 a {
        background-position: -20px -836px;
    }
    .markItUp .markItUpButton15 a {
        background-position: -20px -1330px;
    }
    .markItUp .markItUpButton16 a {
        background-position: -20px -1621px;
    }
    .markItUp .preview a {
        background-position: -20px -1552px;
    }